<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if csrf_token is defined %}
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    {% endif %}

    <title>Ali Shan - Portfolio</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
     <!-- Add this div as the first element in body -->
    <div class="particle-network-animation"></div>
    <header>
      <nav>
        <div class="logo">
          <a href="{{ url_for('home') }}">Ali Shan</a>
        </div>
        <ul class="nav-links">
          <li><a href="{{ url_for('home') }}#about">About</a></li>
          <li><a href="{{ url_for('home') }}#skills">Skills</a></li>
          <li><a href="{{ url_for('projects_page') }}">Projects</a></li>
          <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
        </ul>
        <div class="theme-toggle">
          <i class="fas fa-moon"></i>
          <label class="switch">
            <input type="checkbox" id="theme-checkbox" />
            <span class="slider round"></span>
          </label>
          <i class="fas fa-sun"></i>
        </div>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </header>
   
    <main>{% block content %}{% endblock %}</main>

    <footer>
      <div class="social-links">
        <a href="https://github.com/Alishan45" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/ali-shan-542246235/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="mailto:ali3819381@gmail.com"
          ><i class="fas fa-envelope"></i
        ></a>
        <a
          href="https://drive.google.com/drive/folders/1RhvDu8DLGe7Yizl3GYwVdorjJQho1Xsr"
          target="_blank"
          ><i class="fas fa-file-pdf"></i
        ></a>
      </div>
      <p>&copy; {{ now.year }} Ali Shan. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
